/* <style>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap')
</style> */

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }

  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }

  :root {
    --texts-second: #333;
    --texts-error: #ff5757;
    --texts-hover: #756157;
    --texts-active: rgba(117, 97, 87, 0.3);
    --texts-texts-basic: #000;
    --texts-background-deafault: #fff;
    --texts-background-small: rgba(255, 255, 255, 0.3);
    --texts-background-hover: rgba(255, 255, 255, 0.6);
    --texts-background-active: rgba(255, 255, 255, 0.3);
    --buttons-basic: #756157;
    --buttons-second: #82b3d3;
    --buttons-select: #7db54f;
    --buttons-disabled: #e5e5e5;
    --buttons-brown-hover: #615048;
    --buttons-blue-hover: #68a2ca;
    --buttons-green-hover: #6c9e42;
    --background-basic-1: #fff;
    --background-basic-2: rgba(0, 0, 0, 0.3);
    --background-basic-3: #82b3d3;
    --background-second-1: rgba(131, 179, 211, 0.12);
    --background-second-2: rgba(131, 179, 211, 0.2);
    --icons-basic: #000;
    --icons-second: #83b3d3;
    --icons-text: #7db54f;
    --icons-hover: #756157;
    --icons-active: rgba(117, 97, 87, 0.3);
    --icons-second-hover: #68a2ca;
    --icons-second-active: rgba(104, 162, 202, 0.3);
    --forms-inputs: #3f5e72;
    --forms-elements-1: #e5e5e5;
    --forms-elements-2: #f2f2f2;
  }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
	  color: #333333;
	  background-color: #F2F2F2
}

header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 70px 0 70px;

}

.navigation-link{
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

}


.intro {
    display: flex;
    justify-content: center;
    background-image: url(/images/index-background.jpg);
    background-position: left bottom;
    background-size: 100% auto;
    /* 1200px 485px */
}

.advantages-title {
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
text-align: center;
color: #000;
  }

.advantages-title-text{
font-weight: 400;
font-size: 22px;
line-height: 118%;
text-align: center;
color: #333;
}

.advantages h3{
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-background-deafault);
}

.advantages-description{
  line-height: 117%;
  text-align: center;
  color: var(--texts-background-deafault);
}

.advantages-item{
  padding: 103px 85px;
  width: 400px;
  height: 385px;
  background: var(--buttons-second);
}
.advantages-item:nth-child(2n){
  background: var(--buttons-second-1);
}

.advantages-item:nth-child(3){
  background: var(--background-second-2);
}

.services-title{
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.services-description{
font-size: 22px;
line-height: 118%;
text-align: center;
color: var(--texts-second);
}

.services-item{
  width: 400px;
  height: 385px;
  background: var(--background-second-1);
}
.services-item:nth-child(2){
  background: var(--texts-background-deafault);
}

.search-hotels{
  padding: 96px 304px;
  width: 1200px;
  height: 406px;
  background: var(--texts-background-deafault);
}

.search-hotels-title{
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}
.search-hotels-description{
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: var(--texts-second);
}
.search-hotels-button{
font-weight: 700;
font-size: 20px;
line-height: 180%;
text-transform: uppercase;
text-align: center;
color: var(--texts-background-deafault);
  border-radius: 4px;
  padding: 8px 50px;
  width: 375px;
  height: 52px;
  background: var(--texts-hover);
}

.subscribe{
  padding: 96px 258px 104px 258px;
  width: 1200px;
  height: 414px;
  background: url(../images/Subscribe.jpg);
  background-repeat: no-repeat;
}

.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}
.subscribe-description{
  font-size: 22px;
  line-height: 118%;
  color: var(--texts-background-deafault);
}

.subscribe-form{
/* border-radius: 4px 0 0 4px;
padding: 12px 20px;
width: 452px;
height: 52px;
background: var(--forms-elements-2); */
width: 684px;
height: 214px;
}

.button-subscribe{
border-radius: 0 4px 4px 0;
padding: 8px 50px;
width: 232px;
height: 52px;
background: var(--buttons-second);
font-weight: 700;
font-size: 20px;
line-height: 180%;
text-transform: uppercase;
color: var(--texts-background-deafault);
}

footer{
width: 1200px;
height: 120px;
background: var(--texts-background-deafault);
}

.social-list{
  width: 142px;
  height: 40px;
}
.social-item{
  /* padding: 0px 10px; */
  width: 47px;
  height: 40px;
}

.contacts-address-phone{
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
}

.footer-logo{
  width: 115px;
  height: 33px;
}

.main-inner{
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background: url(../images/hotels-sedona.jpg);
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
width: 1200px;
height: 412px;

}

.inner-header-title{
  width: 494px;
height: 78px;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: var(--texts-background-deafault);
}

.breadcrumbs{
  width: 114px;
  height: 21px;
font-size: 16px;
line-height: 131%;
color: var(--texts-background-deafault);
}

.breadcrumbs-item{
width: 150px;
height: 157px;
}

.filters{
  width: 1060px;
  height: 160px;
}

.catalog-filter-group{
  width: 150px;
  height: 157px;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
}
.catalog-filter-list{
  width: 112px;
height: 101px;
}
.catalog-filter-item{
  width: 112px;
  height: 23px;
font-size: 18px;
line-height: 128%;
color: var(--texts-background-deafault);
}

.catalog-filter-group-price{
  width: 549px;
  height: 160px;
}
.filter-range-control{
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
  background: var(--forms-elements-2);
}
filter-range-handle-min
filter-range-handle-max

.catalog-filter-button{
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background: var(--buttons-second);
  /* не меняется кнопка!!!! */
}

/* .catalog{
  padding: 50px 70px 60px 70px;
  width: 1200px;
  height: 1235px;
  background: var(--texts-background-deafault);
} */

.catalog-products-title{
  width: 1060px;
  height: 49px;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
color: var(--texts-texts-basic);
}

.select-control{
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
}

.popular, .cheap, .expensive{
  border: 2px solid var(--texts-texts-basic);
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.product-card{
border: 1px solid #e6e6e6;
border-radius: 4px;
padding: 20px;
width: 340px;
height: 438px;
}

.product-card-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: var(--texts-texts-basic);
}





.pagination-link{
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link-active {
  color: #000000;
  background: #F2F2F2;
}
