:root {
	--texts-second: #333;
	--texts-error: #ff5757;
	--texts-hover: #756157;
	--texts-active: rgba(117, 97, 87, 0.3);
	--texts-texts-basic: #000;
	--texts-background-deafault: #fff;
	--texts-background-small: rgba(255, 255, 255, 0.3);
	--texts-background-hover: rgba(255, 255, 255, 0.6);
	--texts-background-active: rgba(255, 255, 255, 0.3);
	--buttons-basic: #756157;
	--buttons-second: #82b3d3;
	--buttons-select: #7db54f;
	--buttons-disabled: #e5e5e5;
	--buttons-brown-hover: #615048;
	--buttons-blue-hover: #68a2ca;
	--buttons-green-hover: #6c9e42;
	--background-basic-1: #fff;
	--background-basic-2: rgba(0, 0, 0, 0.3);
	--background-basic-3: #82b3d3;
	--background-second-1: rgba(131, 179, 211, 0.12);
	--background-second-2: rgba(131, 179, 211, 0.2);
	--icons-basic: #000;
	--icons-second: #83b3d3;
	--icons-text: #7db54f;
	--icons-hover: #756157;
	--icons-active: rgba(117, 97, 87, 0.3);
	--icons-second-hover: #68a2ca;
	--icons-second-active: rgba(104, 162, 202, 0.3);
	--forms-inputs: #3f5e72;
	--forms-elements-1: #e5e5e5;
	--forms-elements-2: #f2f2f2;
}
